<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.killapp" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>killApp</name><js-module name="killApp" src="www/killApp.js"><clobbers target="cordova.plugins.killApp" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="killApp"><param name="android-package" value="cordova.plugin.killapp.killApp" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/killApp.java" target-dir="src/cordova/plugin/killapp/killApp" /></platform></plugin>